@media screen and (max-width:768px) {

        .hero {
            position: relative;
            height: 50vh;
            background-size: cover;
            background-position: 50%;
        }
        .hero h1 {
            font-size: 40px;
            letter-spacing: 2px;
            padding-bottom: 5px;
            white-space: nowrap;
        }
        .hero .h-st {
            font-size: 18px;
            margin-bottom: 5px;
            padding-bottom: 30px;
        }
        .hero .h-bt {
            font-size: 18px;
            margin-bottom: 10px;
            letter-spacing: 5px;
        }
    
        .hot-pd {
                padding: 50px 0 100px;
            }
        
        .runpic-section h4 {
            font-size: 24px;
            letter-spacing: 2px;
            margin-left: 6px;
            margin-right: 6px;
        }
        
        .theme-list-section {
            padding: 50px 0px;
            margin-bottom: 50px;
        }
    
        .theme-wrapper {
            flex-direction: column !important; 
            gap: 0; 
            margin-bottom: 200px;
            position: relative;
            padding: 0;
        }
    
        .story-left .image-wrapper, .notes-left .image-wrapper,   .items-right .image-wrapper,
        .story-left .content, .notes-left .content, .items-right .content {
            margin: 0;
            flex: 0 0 100%;
        }
        
    
        .theme-wrapper .image-wrapper {
            width: 100%;
            padding-bottom: 70%; 
            height: 0;
            position: relative;
        }
        
        .image-wrapper img {
            position: absolute;
            width: 90%;
            height: 100%;
            object-fit: cover;
        }
        .items-right .image-wrapper {
            position: relative;
            left: 0;
        }
    
        .items-right .image-wrapper img {
            width: 90%; 
            left: auto; 
            right: 0;
            position: absolute;
        }
        
        .theme-wrapper .content {
            position: absolute; 
            bottom: -150px;
            width: 90%;
            padding: 25px 20px;
            z-index: 10;
        }
    
        .story-left .content {
            right: 0; 
            left: auto;
        }
    
        .items-right .content {
            left: 0; 
            right: auto;
        }
    
        .notes-left .content {
            right: 0; 
            left: auto;
        }
    
        .theme-wrapper h3 {
            font-size: 26px; 
            margin-bottom: 10px;
            text-align: left;
        }
    
        .theme-wrapper p {
            font-size: 16px; 
            margin: 5px 0 15px; 
            text-align: left;
        }
        
        .learnmore-btn {
            margin: 15px 0 0 auto;
            display: block;
        }
        
        .btn-sp {
            margin-left: auto;
        }
    }

@media screen and (768px<width<=1024px){
    .hero {
        position: relative;
        height: 50vh;
        background-size: cover;
        background-position: 50%;
    }
    .hero .h-bt {
        font-size: 20px;
        margin-bottom: 10px;
        letter-spacing: 5px;
        white-space: nowrap;
    }

    .theme-wrapper .content {
        width: 600px;
        height: 300px;
    }

    .story-left .learnmore-btn {
        margin-left: 300px;
        margin-top: 15px;
    }
    .notes-left .learnmore-btn {
        margin-left: 300px;
        margin-top: 15px;
    }
    }