/* ------------------------------------------------------------------------品項內頁------------------------------------------------------------------------ */
        .inner-wrapper {
                width: 80%;
                max-width: 1200px;
                margin: 150px auto;
                padding: 20px 0;
        }
        .inner-c {
            display: flex;
            gap: 80px;
            align-items: flex-start;
            padding-bottom: 50px;
            position: relative;
        }
        .inner-c .pic {
            flex: 0 0 450px;
            max-width: 450px;
        }
        .inner-c .pic img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .inner-txt {
            flex: 1;
        }
        .inner-txt h2 {
            font-size: 24px;
            display: flex;
            margin-bottom: 30px;
        }
        .inner-txt p {
            margin-bottom: 1em;
            font-size: 16px;
            display: flex;
        }
        .inner-o {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: flex-start;
            margin-top: 150px;
        }
        .inner-o h3 {
            font-size: 24px;
            padding-left: 15px;
            display: flex;
            border-left: 5px solid#EEBCC2;
        }
