@media (max-width: 768px) {

    .banner {
        background-image: url(../image/06Booking/Banner-phone.jpg);
    }
    .banner h2 {
        font-size: 28px;
    }

    .booking-wrapper {
        width: 90%;
        margin: 40px auto;
        padding: 0 10px;
    }

    .booking-list {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
    }

    .b-input-group {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        line-height: normal;
    }

    .b-input-group label {
        width: 100%;
        text-align: left;
        margin-bottom: 0px;
    }
    
    .booking-note h3 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .note-content {
        padding: 20px;
        margin-top: 40px;
    }

    .note-content h4 {
        margin-top: 15px;
    }

    .note-content ol {
        margin-left: 15px;
    }

    .consent-checkbox {
        margin-top: 30px;
    }

    .submit-reservation-btn {
        width: 100%;
        max-width: 300px;
        margin-top: 30px;
    }

    .map-area {
        margin-top: -60px;
    }

    .mv {
        padding-bottom: 75%;
    }
}

    @media screen and (768px<width<=1024px){
        .banner {
            background-image: url(../image/06Booking/Banner-phone.jpg);
        }
    }