/* --------------------------------------------------------------------------食記-------------------------------------------------------------------------- */

        /* --------Banner-------- */
        .banner {
            position: relative;
            height: 40vh;
            background-image: url('../image/07Review/Banner.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .banner h2 {
            font-size: 32px;
            font-weight: normal;
            letter-spacing: 10px;
            padding-bottom: 5px;
        }

        .page-slogan {
            text-align: center;
            padding-top: 100px;
            padding-bottom: 50px
        }
        .page-slogan p {
            font-size: 24px;
            letter-spacing: 5px;
            font-family: 'Noto Serif TC SemiBold', serif;
            position: relative;
            display: inline-block;
            padding-bottom: 5px;
        }
        .review-grid-wrapper {
            width: 80%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px 0;
        }
        .review-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
            padding-bottom: 50px;
        }
        .review-card {
            background-color: #ffffff60;
            border: 1px solid #eee;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 50px;
            transition: transform 0.3s, box-shadow 0.3s;
            display: flex;
            flex-direction: column;
        }
        .review-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px #ccc;
        }
        .re-pic {
            width: 100%;
            height: auto;
            border-radius: 10px 10px 0 0;
            overflow: hidden;
        }
        .re-pic img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
        .review-card h4 {
            font-size: 20px;
            font-family: 'Noto Serif TC SemiBold', serif;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .review-card p {
            font-size: 18px;
            text-align: left;
            padding-left: 10px;
            padding-right: 15px;
            margin-bottom: auto;
        }
        .re-btn {
            display: flex;
            margin-bottom: 20px;
            margin-left: -50px;
            padding-bottom: 10px;
        }
        .more-action {
            text-align: center;
            margin-top: -30px;
        }
        .more-btn {
            font-size: 18px;
            color: #000;
            border: 1px solid #624B61;
            background-color: transparent;
            padding: 15px 40px;
            border-radius: 40px;
            transition: all 0.3s;
            margin-bottom: 100px;
        }
        .more-btn:hover {
            background-color: #624B61;
            color: #fff;
        }