/* --------------------------------------------------------------------------首頁-------------------------------------------------------------------------- */
    /* --------主視覺-------- */
        .hero {
            position: relative;
            height: 80vh;
            background-image: url('image/01Home/Banner-Index01.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .hero-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding-top: 100px;
        }
        .hero h1 {
            font-size: 50px;
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: normal;
            color: #000;
            letter-spacing: 2px;
            padding-bottom: 5px;
        }
        .hero .h-st {
            font-size: 20px;
            font-family: 'Noto Sans TC', sans-serif;
            margin-bottom: 5px;
            padding-bottom: 60px;
            color: #000;
        }
        .hero .h-bt {
            font-size: 24px;
            margin-bottom: 20px;
            font-family:'Noto Serif TC SemiBold',serif;
            color: #000;
        }
    /* --------本月熱銷-------- */
        .hot-pd {
            padding: 150px 0 100px;
        }
        .hotpdcard-list {
            display: flex;
            justify-content: center;
            gap: 50px;
            flex-wrap: wrap;
        }
        .hotpdcard {
            width: 300px;
            text-align: center;
            background: #ffffff60;
            border-radius: 10px;
        }
        .hotpdcard img {
            width: 100%;
            height: auto;
            display: block;
            margin-bottom: 15px;
            border-radius: 10px 10px 0 0;
        }
        .hotpdcard h3 {
            font-size: 24px;
            text-align: left;
            padding-left: 15px;
            margin-bottom: 5px;
        }
        .hotpdcard p {
            font-size: 16px;
            text-align: left;
            padding-left: 15px;
            margin-bottom: 20px;
        }
    /* --------跑圖區-------- */
        .runpic-section {
            padding-bottom: 100px;
        }
        .runpic-section h4 {
            font-size: 28px;
            font-family: 'Noto Serif TC SemiBold', serif;
            text-align: center;
            padding-bottom: 50px;
            margin:auto;
        }
        .runpic {
            display: flex;
            width: 100%;
            overflow: hidden;
        }
        .runpic img {
            flex-shrink: 0;
            width: 25%;
            height: auto;
            object-fit: cover;
            display: block;
        }
    /* --------簡介區-------- */
        .theme-list-section {
        padding: 100px 0;
        }
        .theme-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 40px; 
            align-items: center;
            margin-bottom: 100px;
            max-width: 1200px;
        }
        .story-left .image-wrapper,
        .notes-left .image-wrapper {
            margin-right: -10%;
        }
        .story-left .content,
        .notes-left .content {
            margin-right:10%;
        }
        .order-reverse {
            flex-direction: row-reverse;
        }
        .items-right .image-wrapper {
            margin-left: -10%; 
            margin-right: 0;
        }
        .items-right .content {
            margin-right: -10%;
            margin-left: 0;
            text-align: left;
        }
        .items-right .content  {
            margin-left: auto; 
        }
        .theme-wrapper .image-wrapper {
        flex: 0 0 50%;
        position: relative;
        }
        .image-wrapper img{
            width: 100%;
        }
        .theme-wrapper .content {
            width: 600px;
            height: auto;
            background-color: #E8D6D040;
            padding: 20px 0;
            z-index: 1;
        }
        .theme-wrapper h3 {
            font-size: 32px;
            margin-bottom: 15px;
            font-family: 'Noto Serif TC SemiBold', serif;
            margin-left: 15px;
        }
        
        .theme-wrapper p {
            margin: 10px 15px;
            font-size: 20px;
        }
        .learnmore-btn {
            background-color: transparent;
            border: 1px solid #624B61;
            border-radius: 40px;
            transition: all 0.3s;
            margin-left: 400px;
            margin-top: 15px;
        }
        .btn-sp {
            margin-left: 430px;
        }
        .learnmore-btn a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-family: 'Noto Serif TC SemiBold', serif;
            color: #000;
            padding: 10px 20px;
        }
        .learnmore-btn:hover {
            background-color: #624B61;
        }
        .learnmore-btn:hover a {
            color: #fff;
        }